/* styles.css */

/* Hamburger Icon */
.menu-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff; /* White color */
    transition: background-color 0.3s ease;
}

/* Logo Styles */
.logo img {
    max-width: 100px; /* Adjust the width as needed */
    vertical-align: middle;
}

/* Mobile Menu */
@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    #nav-list {
        display: none;
        list-style: none;
        background-color: #f8f8f8;
        padding: 20px;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    #nav-list.active {
        display: block;
    }
}

/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Typography */
body {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #ffffffed; /* White color */
    font-weight: bold; /* Bold font weight */
}

/* Header Styles */
html {
    background-image: url('background.jpg'); /* Replace with your image file name */
    background-size: cover;
    background-position: center;
}

/* Link Styles */
a {
    color: #8595ff; /* Slightly more blue color for links */
    text-decoration: none;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-right: 20px;
}

/* Improved Readability */
body {
    background-color: rgba(0, 0, 0, 0.493); /* Muted background for better readability */
}
